<div class="inicio-container">

  <!--🔼 Arriba-->
  <div class="ini-record-wrapper">
    <div class="ini-div-monedas">
      <div class="ini-moneda">
        <img class="ini-img-moneda" [src]=rutImgMoneda>
      </div>
      <span class="ini-punt">{{ monedaTotal }}</span>
    </div>

    <div class="ini-record">
      <span class="ini-medalla">🥇</span>
      <span class="ini-punt">{{ obtenerRankingTop() }}</span>
    </div>
  </div>

  <!-- 🔽 ABAJO -->
  <div class="ini-bottom">
    <ion-button class="ini-btn-play" (click)="iniciar.emit()">
      Iniciar Juego
    </ion-button>
  </div>

</div>
