<div *ngIf="visible" class="overlay-gameover overlay-base">
  <div class="card-gameover">
    <h1 class="titulo-gameover">💀 Game Over</h1>

    <!-- 🏆 RECORD -->
    <h2 *ngIf="esNuevoRecord" class="nuevo-record">
      🏆 ¡Nuevo récord!
    </h2>

    <p class="puntaje-final">
      ⭐ Puntaje final: {{ puntaje }}
    </p>

    <!-- 👤 INPUT NOMBRE SOLO SI ES RECORD -->
    <div *ngIf="esNuevoRecord">
      <ion-item class="input-ios">
        <ion-label position="stacked">👤 Tu nombre</ion-label>
        <ion-input
          [value]="nombreJugador"
          (ionInput)="onNombreChange($event.detail.value)">
        </ion-input>
      </ion-item>

      <!-- 💾 GUARDAR  -->
      <ion-button expand="full" class="btn-pro" (click)="guardar.emit()">
        💾 Guardar y jugar
      </ion-button>
    </div>

    <!-- ❌ SI NO ES RECORD -->
    <div *ngIf="!esNuevoRecord">
      <p>No entraste al ranking 😢</p>
    </div>

    <!-- 🔁 REPLAY SIN GUARDAR -->
    <ion-button expand="full" class="btn-pro btn-secundario" (click)="reiniciar.emit()">
      🔁 Reintentar
    </ion-button>

  </div>
</div>
